<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aling Nena's Sari-Sari Store</title>
	
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Aling Nena</a>
	  <a class="navbar-brand" href="/">Home</a>
	  <a class="navbar-brand" href="/about">About</a>
	  <a class="navbar-brand" href="/products">Products</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="admin">
	<h2>"'LANG HIYA KANG **** KA!"</h2>
	<h4><br/>Ah, yes. Those were the days. Nena started out as a simple street child who'd often get pushed around. Unbeknownst to those who mocked her, she'd get profit from her samapaguita sales. After all, a kid like her knew better than bragging, despite her simple-minded appearance. <br/> <br>Growing up, she learned of and begn following Christ. With His guidance, she was able to survive and even start her own business. Her sari-sari business provided her happiness, because she was able to achieve such a feat, guided along by Christ.<br/><br/>Share this happiness and success with both Christ and Aling Nena by purchasing her products!</h4>
	<h5><br/><br/><br/><br/><br/><br/>"I can do all things through Him who strengthens me." (Philippians 3:14)</h5>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
